<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KsellBio</title>
</head>
<body>
    <div class="contents4">
        <img src="../img/ksellbio/kshellbio4.png" style="text-align:center; margin:auto; display: block; margin-top: -8px;"/>
    </div>
    <div class="contents2">
        <img src="../img/ksellbio/kshellbio2.png" style="text-align:center; margin:auto; display: block; margin-top: -1px;"/>
    </div>
    <div class="contents3">
        <a href="">
            <img src="../img/ksellbio/kshellbio3.png" style="text-align:center; margin:auto; display: block; margin-top: -3px;"/>
        </a>    
    </div>
</body>
</html>