<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KsellBio</title>
</head>
<body>
    <div class="contents1">
        <img src="../public/img/ksellbio/kshellbio1.png" style="align-items:centet;"/>
    </div class="contents1"><br/>
    <div class="contents2">
        <img src="../public/img/ksellbio/kshellbio2.png"/>
    </div>
</body>
</html>